*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #e6e6e6;
}

/*
*** Layout ***
*/

header{
    background-color: #f7b600;
    padding: 15px;
    text-align: center;
}

.container{
    margin: 0;
    width: 920px;
}

#area-logo, nav{
    padding: 10px;
}

main{
    display: flex;
    justify-content: center;
}

section, article{
    background-color: orange;
}

section{
    width: 660px;
}

article{
    width: 240px;
}

footer{
    padding: 15px;
    text-align: center;
    background-color: #CCC;
}

/*
*** Formatações em Geral ***
*/

h1{
    color: #4e4e4e;
    font-size: 2.5em;
}

h1 span{
    color: white;
}

a{
    text-decoration: none;
}

nav a:link, nav a:visited{
    color: #FFF;
    padding: 8px 12px;
}

nav a:hover{
    color: #f7b600;
    background: #FFF;
}

.flex{
    display: flex;
    justify-content: space-between;
}